{% extends "reptiles/layout.html" %}
{% block content %}
<h1>Détail</h1>
<p>Nom : {{reptile.nom}}</p>
<p>Espèce : {{reptile.nomEspece}}</p>
<p>Ordre : {{reptile.ordre}}</p>
<p>Poids : {{reptile.poids}}</p>
<p>Age : {{reptile.age}}</p>
<p>User : {{reptile.user}}</p>
<div class="btnBottom">
    <a href="{% url 'liste' %}" title="Liste">Retour Liste</a>
    <a href="{% url 'update' reptile.pk %}" title="Modifier">Modifier</a>
    <a href="{% url 'delete' reptile.pk %}" title="Supprimer">Supprimer</a>
</div>
{% endblock %}