{% extends "reptiles/layout.html" %}
{% block content %}
<table>
    <thead>
        <tr>
            <td>Nom</td>
            <td>Espèce</td>
            <td>Ordre</td>
            <td>Poids</td>
            <td>Age</td>
            <td>User</td>
            <td>Supprimer</td>
        </tr>
    </thead>
    <tbody>
        {% for reptile in reptiles %}
        <tr>
            <td><a href="{% url 'detail' reptile.pk %}">{{reptile.nom}}</a></td>
            <td>{{reptile.nomEspece}}</td>
            <td>{{reptile.ordre}}</td>
            <td>{{reptile.poids}}</td>
            <td>{{reptile.age}}</td>
            <td>{{reptile.user}}</td>
            <td><a href="{% url 'update' reptile.pk %}">modifier</a></td>
            <td><a href="{% url 'delete' reptile.pk %}">supprimer</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}