body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    width: 80%;
    margin: 0 auto;
}

/* LIENS */
a {
    text-decoration: none;
    color: #000;
    background-color: rgb(220, 220, 220);
    padding: 10px;
}

a:hover {
    background-color: rgb(200, 200, 200);
}

.btn {
    background-color: rgb(220, 220, 220);
    outline: none;
    box-shadow: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    max-width: 100px;
    font-size: 16px;
    margin: 10px;
}

.btn:hover {
    background-color: rgb(200, 200, 200);
}

/* LISTE */
.listeReptiles {
    text-align: center;
    margin: 30px 0px;
}

.listeReptiles thead td {
    font-weight: bold;
}

.listeReptiles td {
    background-color: rgb(220, 220, 220);
    padding: 10px;
}

/* FORM */
.formReptiles {
    margin: 20px 0;
}

.formCreate label,
.formUpdate label {
    width: 20%;
    float: left;
    margin-bottom: 20px;
}

.formCreate input,
.formUpdate input {
    padding: 10px;
    width: 70%;
    float: left;
    margin-bottom: 20px;
}